.FirstVm {
    text-align: center;
}

.SecondVm {
    text-align: center;
}

.mainPage {
    text-align: center;
}

.startButtonPosition {
    margin-top: 1em;
    padding: 1em;
}

.main-container{
    margin-top: 20px;
}


.vm-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}